
/* Estilos para el menú de navegación */
.navbar {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.navbar-nav {
    margin-left: auto;
    padding-left: 0;
}

.nav-item {
    list-style: none; /* Elimina los bullets de los elementos de la lista */
}

.nav-link {
    font-size: 1rem;
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none; /* Elimina el subrayado */
}

.nav-link:hover {
    color: #0056b3; /* Cambia el color al pasar el cursor */
}

/* Estilos para el efecto parallax */
.parallax-container {
    position: relative;
    height: 100vh;
    background-image: url('../img/Urban_traffic_map_stylized.png'); /* Verifica que la ruta sea correcta */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Estilos para el texto de bienvenida */
.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.welcome-text.visible {
    opacity: 1;
}

.header {
    background-color: #007bff; /* Color azul de fondo */
    color: #ffffff; /* Color blanco del texto */
    padding: 1rem 0; /* Espaciado vertical */
}

.header .logo {
    width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto; /* Mantiene la proporción del logo */
}

.header .site-title {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño para el título */
    margin: 0; /* Elimina márgenes adicionales */
}
